{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <p>Hi</p>
      <p>My Name is Erkan Yildizsabah.</p>
      <p></p>I’m graduated from The University of Derby – Bachelor of Science in Computing and Information Technologies Second Class Honors (1st Division)-2022.</p>
      <p></p>I'm a junior Python app and web developer.</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}